<div id="carru" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
        <li data-target="#carru" data-slide-to="0" ></li>
        <li data-target="#carru" data-slide-to="1" class="active"></li>
        <li data-target="#carru" data-slide-to="2"></li>
    </ul>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="row">
                <div class="col p-0 latiz">
                    <img class="imgcarru1" src="https://res.cloudinary.com/manuel-rivera-website/image/upload/v1627291381/obras%20MR/fotos/Foto_Manuel_Rivera-Cr%C3%A9dito_de_la_foto_ALBERTO_SCHOMMER_copia_2_lekeww.jpg" alt="imgcarru 1.2">
                </div>
                <div class="col-md-6 p-0" id="imglatiz1">
                    <img src="https://res.cloudinary.com/manuel-rivera-website/image/upload/v1627291665/obras%20MR/fotos/IMG-4682_1_a6nyb0.jpg" alt="imgcarru 1">
                </div>
            </div>
            <div class="carousel-caption">
                <h2> <i style="text-shadow: 1px 1px black;" class="text-light">“Pintor de espejos azules, soñando siempre en Granada, en los jardines tranquilos, sobre el agua. Va el agua diciendo un nombre, Manuel Rivera se llama”.</i></h2>
              </div>
        </div>
        <div class="carousel-item ">
            <div class="row">
                <div class="col p-0 latiz">
                    <img src="../../../../assets//carru2.2.jpg" alt="imgcarru 2.2">
                </div>
                <div class="col-md-6 p-0" id="imglatiz2">
                    <img src="https://res.cloudinary.com/manuel-rivera-website/image/upload/v1627292431/obras%20MR/fotos/IMG-4677_1_re8xv6.jpg" alt="imgcarru 2">
                </div>
            </div>
            <div class="carousel-caption">
                <h2> <i>“Pintor de espejos azules, soñando siempre en Granada, en los jardines tranquilos, sobre el agua. Va el agua diciendo un nombre, Manuel Rivera se llama”.</i></h2>
              </div>
        </div>
        <div class="carousel-item ">
            <div class="row">
                <div class="col p-0 latiz">
                    <img src="https://res.cloudinary.com/manuel-rivera-website/image/upload/v1627292424/obras%20MR/fotos/IMG-4680_1_tqtzul.jpg" alt="imgcarru 2.2">
                </div>
                <div class="col-md-6 p-0" id="imglatiz2">
                    <img src="https://res.cloudinary.com/manuel-rivera-website/image/upload/v1626569916/obras%20MR/telas%20metalicas/MUTACIONES_VII._IX-X-1990._130_X_89_CM._P%C3%A1g._110_cr_1_j2ybio.jpg" alt="imgcarru 2">
                </div>
            </div>
            <div class="carousel-caption">
                <h2> <i>“Pintor de espejos azules, soñando siempre en Granada, en los jardines tranquilos, sobre el agua. Va el agua diciendo un nombre, Manuel Rivera se llama”.</i></h2>
              </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carru" role="button"  data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#carru" role="button" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
    <div class="capalight"></div>
</div>
