
.card {
    background: rgb(31, 28, 28, 0.7) !important;
    text-align: center;
    color: white;
}

.card-columns {
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.opaco {
    opacity: 0 ;
    transition: all 1.5s;
}

.invisible {
    opacity: 0 !important;
}