b {
    color: rgb(255, 244, 233 );
    font-weight: 700;
}

img {
    border-radius: 20px;
    margin: 8px;
    max-width: 100%;
}

.row {
    align-items: center;
}

.mostrar {
    opacity: 0;
    transition: all 1s;
}

.divHorz {
    background-attachment: fixed;
    background-image: url('../../../../assets/inicioHor1.jpg');
    background-position: center;
    background-repeat: repeat-x;
    background-size: cover;
    padding: 25px;
    min-height: 80vh;
}

iframe {
    border-radius: 5px;
    min-height: 500px ;
    padding: 10px;
}


.list-group-item:active {
    background: var(--secondary);
}

.list-group-item {
    background: rgb(44, 42, 42);
    margin: 10px 0;
    cursor: pointer;
    border-radius: 20px;
    color: white;
}

.list-group-item:focus {
    background-color: black;
}

.list-group-item:hover {
    background-color: black;
}

.list-group-item a {
    color: blanchedalmond;
}

.listacards  {
    display: none;
}


.swiper-text {
    text-align: center;
    padding: 20px;
    width: 70%;
    background-color: rgb(8, 8, 8, 0.5);
    border-radius:50px;
    box-shadow: -2px -2px 6px black;
    margin: 0 auto;
}

.swiper-text h1 {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 2px 2px black;
    font-style: oblique;
}

.textWrapper {
    display: flex;
    position: relative;
    width: 100%;
    margin: 60px 0;
}

.textWrapper .p-Box {
    max-width: 500px;
    background-color: rgb(3, 3, 3, .8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: start;
    border-radius: 20px;
    position: absolute;
    right: 40px;
    bottom: -120px;
    padding: 15px 10px;
}

.textWrapper img {
    width: 70%;
    max-width: 700px;
}

.textWrapper-Iz {
    justify-content: flex-end;
}

.textWrapper-Iz .p-Box {
    left: 60px;
    bottom: -80px;
}

.my-6 {
    margin-top: 60px;
    margin-bottom: 60px;
}

.marco-movil {
    background-color: black;
    border-radius: 10px;
    padding-bottom: 60px;
    position: relative;
    box-shadow: 3px 3px 3px grey;

}

.marco-movil::before {
    content: '';
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: rgb(32, 27, 27);
    border-radius: 100%;
    bottom: 5px;
    left: 40%;
    box-shadow: 1px 1px grey;
}




@media screen and(max-width:780px) {

    p {
        margin: 0px 0;
    }
   

    .col-md-5 {
        text-align: center;
    }

    .mediaHide {
        display: none;
    }

    .listacards {
        display: block;
    }

    .swiper-text {
        width: 100%;
        padding: 0px;
    }   

}

@media screen and(max-width:1035px) {
    .textWrapper, .textWrapper-Iz {
        flex-direction: column;
        margin: 0 auto;
    }

    .textWrapper .p-Box {
        position: relative;
        bottom: unset;
        left: unset;
        right: unset;
        margin: 0 auto;
        width: 95% ;
        max-width: none;

    }

    .textWrapper img {
        width: 90%;
        margin: 10px auto;
    }

    .textWrapper-Iz .p-Box {
        left: unset;
        right: unset;
        width: 95%;
        max-width: none;
    }

    .nm {
        margin: 10px auto 10px auto !important;
    }

    .rowre {
        flex-direction: column-reverse !important;
    }
}