
<div class="extramargen"></div>
<div class=" container mb-5" (window:scroll)="mostrar? mostrarcontent() : ''">
    <mzd-timeline>
        <mzd-timeline-content class="desanimado" [border]="true">
            <mzd-icon><strong>1927</strong></mzd-icon>
            <div class="row">
                <div class="col-md-7 text-center">
                    <img loading="lazy"  src="https://res.cloudinary.com/manuel-rivera-website/image/upload/v1627289812/obras%20MR/fotos/bio1_hfpk7k.jpg" alt="bio1">
                </div>
                <div class="col-md-5">
                    <p>Manuel Rivera Hernández nace en Granada el 23 de abril. Su padre siente una verdadera atracción por el arte; llega a pintar y a realizar esculturas en madera, con carácter predominantemente decorativo.</p>
                </div>
            </div>
            <div class="row">
                <p> Muestra desde la infancia una gran disposición para la pintura y la escultura, por lo que su padre decide enviarle al taller de un escultor imaginero, Martínn Simón, con el que comienza a aprender el oficio de escultor. Trabaja la madera y el yeso, pero siente la necesidad de expresarse a través de la pintura. Estudia en la Escuela de Artes y Oficios de Granada, donde recibe las enseñanzas de Joaquín Capulino y más tarde las de Gabriel Morcillo. La muerte de su madre afecta profundamente a su carácter, que se torna un tanto triste y reflexivo.</p>
            </div>
        </mzd-timeline-content>

        <mzd-timeline-content class="desanimado" [border]="true">
            <mzd-icon><strong>1942</strong></mzd-icon>
            <p>Realiza su primer viaje a Madrid, donde queda deslumbrado en su visita al Museo del Prado.</p>
        </mzd-timeline-content>

        <mzd-timeline-content class="desanimado" [border]="true">
            <mzd-icon><strong>1944</strong></mzd-icon>
            <div class="row">
                <div class="col-md-6 text-center">
                    <img loading="lazy"  src="https://res.cloudinary.com/manuel-rivera-website/image/upload/v1627289812/obras%20MR/fotos/bio2_pqtu4n.jpg" alt="bio2">
                </div>
                <div class="col-md-6">
                              <p> Obtiene una bolsa de estudios del Ayuntamiento de Granada, así como de la Dirección General de Bellas Artes, para completar su formación artística, a la vez que toma parte en exposiciones y concursos regionales, donde obtiene numerosas recompensas. </p>
                </div>
            </div>
        </mzd-timeline-content>

        <mzd-timeline-content class="desanimado" [border]="true">
            <mzd-icon><strong>1945</strong></mzd-icon>
            <p>Ingresa en la Escuela Superior de Bellas Artes de Sevilla. Pinta entonces una serie de paisajes y de retratos marcados por el academicismo de su formación, pero en los que se percibe ya una cierta libertad de dicción. Conoce en la Escuela de Bellas Artes a Mary Navarro.</p>
        </mzd-timeline-content>

        <mzd-timeline-content [border]="true">
            <mzd-icon><strong>1947</strong></mzd-icon>
            <p>Expone por primera vez su obra en la Asociación de la Prensa de Granada.</p>
        </mzd-timeline-content>

        <mzd-timeline-content [border]="true">
            <mzd-icon><strong>1951</strong></mzd-icon>
            <p>Contrae matrimonio con Mary Navarro. Es nombrado profesor de pintura y dibujo en la Escuela de Bellas Artes de Sevilla. Es seleccionado para participar en la I Bienal de Arte Hispano-Americano de Madrid.</p>
        </mzd-timeline-content>

        <mzd-timeline-content id="pruebauno" [border]="true">
            <mzd-icon><strong>1952</strong></mzd-icon>
            <p>El matrimonio Rivera-Navarro permanece largas estancias en Granada, donde organiza en su casa del carril de San Cecilio reuniones de pintores, escritores e intelectuales; este grupo, unido por las mismas inquietudes, recibe el nombre de Grupo Abadía Azul.</p>
            <div class="text-center">
                <img loading="lazy"  src="https://res.cloudinary.com/manuel-rivera-website/image/upload/v1627289812/obras%20MR/fotos/bio3_nbqqfj.jpg" alt="bio3">
            </div>
        </mzd-timeline-content>

        <mzd-timeline-content [border]="true">
            <mzd-icon><strong>1953</strong></mzd-icon>
            <div class="row">
                <p>Es invitado por el Instituto de Cultura Hispánica al Curso Internacional de Arte Abstracto que se celebra en la Universidad Internacional Méndez Pelayo de Santander.</p>
                <p>Conoce entonces a numerosos artistas, con algunos de los cuales, años más tarde, formará el grupo El Paso. Su pintura toma un giro decisivo en contacto con las vanguardias del momento. Lleva a cabo sus primeros ensayos abstractos. Pinta la serie de los Albaicines.</p>
                <img loading="lazy"  src="https://res.cloudinary.com/manuel-rivera-website/image/upload/v1627289812/obras%20MR/fotos/bio4_ihthyl.jpg" alt="bio4">
            </div>
        </mzd-timeline-content>

        <mzd-timeline-content [border]="true">
            <mzd-icon><strong>1954</strong></mzd-icon>
            <div class="row">
                <div class="col-lg-7 text-center">
                    <img src="https://res.cloudinary.com/manuel-rivera-website/image/upload/v1627289812/obras%20MR/fotos/bio5_hor6kv.jpg" alt="bio5">
                </div>
                <div class="col-lg-5">
                    <p>Traslada su residencia definitivamente a Madrid. Participa en las Bienales Hispano-Americanas y es seleccionado para la presentación de estas Bienales en diferentes paises del Caribe.</p>
                </div>
            </div>
        </mzd-timeline-content>

        <mzd-timeline-content [border]="true">
            <mzd-icon><strong>1956</strong></mzd-icon>
            <p>Comienza a trabajar sobre obras abstractas de carácter espacial, incorporando la tela metálica a sus obras, primero sobre bastidores de madera y posteriormente de aluminio, lo que le permite trabajar con las telas metálicas en dos planos. Abandona definitivamente la pintura tradicional. De este modo, entramos en su primera etapa pictórica (1956-1966). Finaliza unos trabajos iniciados en 1952 con la técnica del fresco en iglesias, en lugares públicos y centros oficiales. Es seleccionado para exponer en la primera muestra que sobre arte abstracto presenta el Museo de Arte de Madrid: Arte abstracto español. El director del Museo de Arte Contemporáneo adquiere una de sus obras para la colección: Trofeo. Primer viaje a Paris, donde conoce y estudia los movimientos artísticos del momento.</p>
        </mzd-timeline-content>

        <mzd-timeline-content [border]="true">
            <mzd-icon><strong>1957</strong></mzd-icon>
            <p>Junto con Antonio Saura, Martín Chirino, Manolo Millares, Rafael Canogar, Luis Feito, Antonio Suárez, Juana Francos, Pablo Serrano y los críticos de arte Manuel Conde y José Ayllen participa en el mes de febrero en la creación del grupo El Paso, que supone la introducción del informalismo en España. En abril se celebra la primera exposición del grupo en la Galería Bucholz, y publican su primer manifiesto. En esta exposición presenta por primera vez sus telas metálicas, realizadas en un solo plano y en las que los materiales empleados tienen una importancia primordial. Es invitado a participar en la IV Bienal Internacional de Sao Paulo. Viaja a París, alojándose una temporada en la casa de Ionesco.</p>
            <div class="text-center">
                <img loading="lazy"  src="https://res.cloudinary.com/manuel-rivera-website/image/upload/v1627289812/obras%20MR/fotos/bio6_efcldi.jpg" alt="bio6">
            </div>
        </mzd-timeline-content>

        <mzd-timeline-content [border]="true">
            <mzd-icon><strong>1958</strong></mzd-icon>
            <div class="row">
                <p>Comienza su serie Metamorfosis. Representa a España en la IV Bienal Internacional de Venecia con una sala individual, recibiendo el reconocimiento de la crítica internacional. Participa igualmente en la Exposición Universal de Bruselas. El crítico Cirilo Popovici escribe la primera monografía sobre él: Las pinturas metálicas de Rivera.</p>
                <img loading="lazy"  src="https://res.cloudinary.com/manuel-rivera-website/image/upload/v1627289812/obras%20MR/fotos/bio7_todp1s.jpg" alt="bio7">
            </div>
        </mzd-timeline-content>

        <mzd-timeline-content [border]="true">
            <mzd-icon><strong>1959</strong></mzd-icon>
            <div class="row">
                <div class="col-lg-6 text-center">
                    <img loading="lazy"  src="https://res.cloudinary.com/manuel-rivera-website/image/upload/v1627289812/obras%20MR/fotos/bio8_b6dvim.jpg" alt="bio8">
                </div>
                <div class="col-lg-6">
                    <p>Primera exposición individual en Madrid, en las salas del Ateneo. Expone en el Museo de Artes Decorativas de París, donde conoce a Jaime Sabartos, que se interesa de tal modo por su obra que le comenta a Pablo Picasso este hallazgo.Expone en La Haya, Amsterdam, Leverkusen y Roma;</p>
                </div>
            </div>
            <div class="row p-3">
                <p> algunas de sus obras son adquiridas por los museos de estas ciudades. Obtiene el Premio Internacional Lissone de Milán. Incorpora como soporte de sus telas metálicas un tablero sobre el que las tensa mediante pivotes de hierro. Pierre Matisse se interesa por su obra, entrando a formar parte de su Galería en Nueva York.</p>
            </div>
        </mzd-timeline-content>

        <mzd-timeline-content [border]="true">
            <mzd-icon><strong>1960</strong></mzd-icon>
            <p>Exposición en la Galería Pierre Matisse de Nueva York. J.J. Sweeney, director del Museo Guggenheim de Nueva York, adquiere una obra suya. Exposición itinerante por América del Sur, dentro de la colectiva Espacio y color. Disolución del grupo El Paso, tras la publicación su último manifiesto, con escritos de Eduardo Cirlot. Introduce el color en su obra.</p>
            <div class="text-center">
                <img  loading="lazy" src="https://res.cloudinary.com/manuel-rivera-website/image/upload/v1627289812/obras%20MR/fotos/bio9_noqjfo.jpg" alt="bio9">
            </div>
        </mzd-timeline-content>

        <mzd-timeline-content [border]="true">
            <mzd-icon><strong>1960</strong></mzd-icon>
            <p>Entra a formar parte de la Galería Biosca, dirigida por Juana Mordó.</p>
        </mzd-timeline-content>

        <mzd-timeline-content [border]="true">
            <mzd-icon><strong>1962</strong></mzd-icon>
            <p>Realiza una serie de grabados y dibujos. Expone una selección de estos dibujos en la Galería Il Segno de Roma. Viaja a Londres, París y los Países Nórdicos. Sir John Rothenstein, director de la Tate Gallery, visita su taller para conocer su obra con motivo de la exposición Modern Spanish Painting, adquiriendo una obra para el Museo. Exposición individual en el Museo de la Chaux-de-Fonds, Suiza. El Museo de Arte Moderno de Nueva York y el Museo de Arte Contemporáneo de Madrid adquieren obra suya. Es invitado a participar en la V Bienal Internacional de Alejandría. Gustav Von Groschwitz, director del Pittsburgh International, le visita en Madrid para invitarle a presentarse al Premio Carnegie 1964.</p>
        </mzd-timeline-content>

        <mzd-timeline-content [border]="true">
            <mzd-icon><strong>1964</strong></mzd-icon>
            <p>Participa en la exposición inaugural de la Galería Juana Mordó de Madrid. Trabaja en una serie de grabados y dibujos. Obtiene el Premio Kaufmann del Pittsburgh International del Carnegie Institute. Viaja por Estados Unidos. Recibe el Premio de Honor en la III Bienal Internacional de Arte de Tokio.</p>
            <div class="text-center">
                <img loading="lazy"  src="https://res.cloudinary.com/manuel-rivera-website/image/upload/v1627289812/obras%20MR/fotos/bio10_zjiizt.jpg" alt="bio10">
            </div>
        </mzd-timeline-content>

        <mzd-timeline-content [border]="true">
            <mzd-icon><strong>1965</strong></mzd-icon>
            <p>Establece en su obra un predominio del color y un nuevo sentido constructivo. Participa en la exposición Adquisiciones recientes en el Museo de Arte Moderno de Nueva York. Expone además en diversas ciudades de Estados Unidos, así como de Marruecos y Sudáfrica.</p>
        </mzd-timeline-content>

        <mzd-timeline-content [border]="true">
            <mzd-icon><strong>1966</strong></mzd-icon>
            <div class="row">
                <p>Comienza la serie Espejos. Expone individualmente en la Galería Juana Mordó de Madrid y en la Galería Pierre Matisse de Nueva York, donde presenta por primera vez los Espejos.</p>
                <img loading="lazy"  src="https://res.cloudinary.com/manuel-rivera-website/image/upload/v1627289812/obras%20MR/fotos/bio11_ms2p3i.jpg" alt="bio11">
            </div>
        </mzd-timeline-content>

        <mzd-timeline-content [border]="true">
            <mzd-icon><strong>1967</strong></mzd-icon>
            <div class="row">
                <p>Expone su obra en numerosas muestras internacionales, tanto colectivas como indi viduales. Comienza su segunda etapa pictórica (1967-1973).</p>
                <img loading="lazy"  src="https://res.cloudinary.com/manuel-rivera-website/image/upload/v1627289813/obras%20MR/fotos/bio12_zjtjgq.jpg" alt="bio12">
            </div>
        </mzd-timeline-content>

        <mzd-timeline-content [border]="true">
            <mzd-icon><strong>1968</strong></mzd-icon>
            <p>Inicia la serie Papeles Japoneses, descubriendo nuevos procedimientos técnicos pero, sobre todo, con una fuerte influencia oriental.</p>
        </mzd-timeline-content>

        <mzd-timeline-content [border]="true">
            <mzd-icon><strong>1969</strong></mzd-icon>
            <p>Es nombrado académico de la Real Academia de Bellas Artes de Granada. Expone en la Galería Möller de Winterthur, Suiza, donde los Museos de Winterthur y de Zurich adquieren obra suya. El Museo de Arte y de Historia de Ginebra adquiere una de sus obras.</p>
        </mzd-timeline-content>
        
        <mzd-timeline-content [border]="true">
            <mzd-icon><strong>1970</strong></mzd-icon>
            <p>Los museos de Basilea, Lausanne, Goteborg y el Museo de Arte Moderno de la Villa de París adquieren obras suyas. Hay en su obra una intensificación del color, que le lleva a realizar nuevos trabajos sobre papel</p>
        </mzd-timeline-content>

        <mzd-timeline-content [border]="true">
            <mzd-icon><strong>1972</strong></mzd-icon>
            <p>Es invitado a representar a España en el IV Festival Internacional de Pintura de Cagnes-Sur-Mer, donde se le concede la paleta de oro. Instalación de una gran obra mural en el Museo de Escultura de la Castellana de Madrid.</p>
        </mzd-timeline-content>

        <mzd-timeline-content [border]="true">
            <mzd-icon><strong>1973</strong></mzd-icon>
            <p>Realiza en Granada su primera exposición antológica. Organiza en Pamplona, con Cristóbal Halffter, Eusebio Sempere y Lucio Muñoz, un seminario sobre la problemática del arte contemporáneo. En París hace amistad con Roberta González, que le hace descubrir todo el universo plástico de su padre, Julio González. Participa en el homenaje que la Feria Internacional de Arte de Basilea dedica a Joan Miró. Los museos alemanes de Kaiserlauten y Mannheim adquieren obra suya, así como el pintor Rufino Tamayo para su museo de México. Comienza la serie Tiritañas.</p>
        </mzd-timeline-content>

        <mzd-timeline-content [border]="true">
            <mzd-icon><strong>1974</strong></mzd-icon>
            <p>Trabaja en la serie Mandala, en la que se produce una vuelta al hermetismo. Llega a la meditación a través de imágenes y formas con ciertas reminiscencias orientales. Comienza su tercera etapa pictórica (1974/1982) En el verano realiza la serie sobre papel Estelas segalianas, en homenaje al poeta francés Victor Segalen, para el que la antigua civilización China fue fundamental, lo que se trasluce en estos delicados y exquisitos trabajos.</p>
            <div class="text-center">
                <img loading="lazy"  src="https://res.cloudinary.com/manuel-rivera-website/image/upload/v1627289813/obras%20MR/fotos/bio13_wn91uo.jpg" alt="bio13">
            </div>
        </mzd-timeline-content>

        <mzd-timeline-content [border]="true">
            <mzd-icon><strong>1975</strong></mzd-icon>
            <p>Realiza el montaje escénico de El adefesio de Rafael Alberti. Jose Luis Jover escribe una monografía sobre las Estelas segalianas que edita Ediciones Rayuela. Exposición individual en la nueva sede de la Galería Juana Mordó de Madrid.</p>
        </mzd-timeline-content>

        <mzd-timeline-content [border]="true">
            <mzd-icon><strong>1976</strong></mzd-icon>
            <p>El Museo de Arte Moderno de la Villa de París organiza una gran exposición antológica, a la vez que su director, Jacques Lassaigne, adquiere una de sus obras. La presentación de esta exposición se realiza unos meses antes en la Galería Juana Mordó de Madrid. Trabaja en collages sobre cartón.</p>
        </mzd-timeline-content>

        <mzd-timeline-content [border]="true">
            <mzd-icon><strong>1977</strong></mzd-icon>
            <p>Crea Retablo para las víctimas de la violencia, obra muy significativa en su carrera pictórica, ya que a través de ella rompe con el lirismo del periodo anterior. Retoma el blanco y el negro, en la búsqueda de un sentimiento dramático. Esta obra forma parte de las colecciones del Museo Nacional Centro de Arte Reina Sofía. Expone principalmente en Francia y Países Bajos, así como en Suecia y Noruega. Publicación del libro Cármenes y sombras. Manuel Rivera, de M. Sola, editado por El Castillo, Albacete.</p>
        </mzd-timeline-content>

        <mzd-timeline-content [border]="true">
            <mzd-icon><strong>1978</strong></mzd-icon>
            <p>Expone en la inauguración del Auditorium Manuel de Falla de Granada.</p>
        </mzd-timeline-content>

        <mzd-timeline-content [border]="true">
            <mzd-icon><strong>1979</strong></mzd-icon>
            <p>Presenta la edición de Diálogo de Manuel Rivera con los tres adefesios de Rafael Alberti, compuesta por diecisiete serigrafías. El Ayuntamiento de Madrid le concede la Medalla de la Ciudad. Ediciones Guadalimar publica una monografía sobre el artista.</p>
        </mzd-timeline-content>

        <mzd-timeline-content [border]="true">
            <mzd-icon><strong>1980</strong></mzd-icon>
            <p>Participa en las exposiciones homenaje a El Paso que se celebran en Murcia y Pamplona. Inaugura una exposición personal en la Feria Internacional de Arte de Basilea. Es invitado a participar en Dublín en la exposición Rosc Internacional. El Museo Municipal de Dublín y el Museo de las Palmas adquieren obras suyas. Comienza la serie Albercas, evocación de Granada, en la que el agua es el tema central. Obra muy lírica, pero dotada de un cierto geometrismo.</p>
        </mzd-timeline-content>

        <mzd-timeline-content [border]="true">
            <mzd-icon><strong>1981</strong></mzd-icon>
            <p>El Ministerio de Cultura organiza una exposición antológica en las salas de la Biblioteca Nacional de Madrid. Es nombrado vicepresidente del Patronato del Museo Español de Arte Contemporáneo. El Rey le concede la Medalla de Oro al Mérito en las Bellas Artes. Trabaja en una serie de obras esquemáticas sobre papel, Pájaros, en las que el espíritu orientalizante se percibe en la delicadeza del trazado.</p>
            <div class="text-center">
                <img loading="lazy"  src="https://res.cloudinary.com/manuel-rivera-website/image/upload/v1627289813/obras%20MR/fotos/bio14_dnaavb.jpg" alt="bio14">
            </div>
        </mzd-timeline-content>

        <mzd-timeline-content [border]="true">
            <mzd-icon><strong>1981</strong></mzd-icon>
            <p>Expone en la inauguración del Auditorium Manuel de Falla de Granada.</p>
        </mzd-timeline-content>

        <mzd-timeline-content [border]="true">
            <mzd-icon><strong>1982</strong></mzd-icon>
            <p>Realiza un gran mural para el aeropuerto de Madrid-Barajas. El Rey le concede la Gran Cruz de Isabel La Católica. Se le concede la Medalla de Oro al Mérito en el Trabajo.</p>
        </mzd-timeline-content>

        <mzd-timeline-content [border]="true">
            <mzd-icon><strong>1983</strong></mzd-icon>
            <p>Comienza su cuarta etapa pictórica (1983-1987).</p>
        </mzd-timeline-content>

        <mzd-timeline-content [border]="true">
            <mzd-icon><strong>1984</strong></mzd-icon>
            <p>Obtiene la Medalla de Honor de la Fundación Rodríguez-Acosta de Granada. Es elegido en noviembre académico de número de la Real Academia de Bellas Artes de San Fernando, el 26 de noviembre. Viaja a Bulgaria invitado por la Fundación Ludmyla Yivkova.</p>
        </mzd-timeline-content>

        <mzd-timeline-content [border]="true">
            <mzd-icon><strong>1985</strong></mzd-icon>
            <p>Presenta la obra que realiza conjuntamente con Antonio Gala y Manolo Sanlúcar: El testamento andaluz, realizando una pintura y tres dibujos de cada una de las capitales andaluzas, en las que recoge lo más significativo de cada una de ellas. El 10 de junio lee su discurso de ingreso en la Real Academia de Bellas Artes de San Fernando, titulado Las vanguardias históricas en España. El Gobierno francés le concede la Cruz de Caballero de la Orden de las Artes y las Letras de Francia.</p>
            <div class="text-center">
                <img loading="lazy"  src="https://res.cloudinary.com/manuel-rivera-website/image/upload/v1627289813/obras%20MR/fotos/bio15_jihc1u.jpg" alt="bio15">
            </div>
        </mzd-timeline-content>

        <mzd-timeline-content [border]="true">
            <mzd-icon><strong>1986</strong></mzd-icon>
            <p>Realiza una exposición personal en la Galería Theo de Madrid. Presenta en Arco 86 el trabajo, realizado conjuntamente con Rafael Alberti, Golfo de Sombras. Se le concede el Premio Casa de los Tiros en Granada. Es nombrado miembro del Patronato de la Alhambra y el Generalife.</p>
        </mzd-timeline-content>

        <mzd-timeline-content [border]="true">
            <mzd-icon><strong>1987</strong></mzd-icon>
            <div class="row">
                <p>La Asociación de Escritores y Artistas Españoles le concede la Medalla de Honor de las Artes. Hay una vuelta en sus obras a los tonos negros, a las telas desgarradas. Realiza los espejos rotos y los espejos heridos.</p>
                <img loading="lazy"  src="https://res.cloudinary.com/manuel-rivera-website/image/upload/v1627289813/obras%20MR/fotos/bio16_nfkok2.jpg" alt="bio16">
            </div>
        </mzd-timeline-content>
    
        <mzd-timeline-content [border]="true">
            <mzd-icon><strong>1988</strong></mzd-icon>
            <p>Es nombrado miembro del jurado del Premio Príncipe de Asturias de las Artes. El presidente del Gobierno andaluz le hace entrega en Sevilla del título de Hijo Predilecto de Andalucía. El Gobierno andaluz le otorga la Medalla de Oro de Andalucía. Comienza su quinta etapa pictórica (1988-1994).</p>
            <div class="text-center">
                <img loading="lazy"  src="https://res.cloudinary.com/manuel-rivera-website/image/upload/v1627289813/obras%20MR/fotos/bio17_i89nae.jpg" alt="bio17">
            </div>
        </mzd-timeline-content>

        <mzd-timeline-content [border]="true">
            <mzd-icon><strong>1989</strong></mzd-icon>
            <p>De nuevo es requerido como miembro del jurado del Premio Príncipe de Asturias de las Artes. Trabaja una vez más en colaboración con Alberti en la obra Golfo de Sombras. Ilustra la obra de Alberti El ceñidor de Venus desceñido, editado por el Círculo de Lectores. Es nombrado Andaluz del Año. Es nombrado académico correspondiente de la Real Academia de Bellas Artes de Sevilla.</p>
        </mzd-timeline-content>

        <mzd-timeline-content [border]="true">
            <mzd-icon><strong>1990</strong></mzd-icon>
            <p>Invitado por la Fundación de Amigos del Museo del Prado, pronuncia en el Museo del Prado la conferencia Ganas y desganas. Versa sobre la percepción de los maestros del Prado por diferentes artistas contemporáneos. Comienza en estos momentos su serie Mutaciones, estrechamente relacionada con la serie Metamorfosis de los años cincuenta.</p>
            <div class="text-center">
                <img loading="lazy"  src="https://res.cloudinary.com/manuel-rivera-website/image/upload/v1627289813/obras%20MR/fotos/bio18_kdowof.jpg" alt="bio18">
            </div>
        </mzd-timeline-content>

        <mzd-timeline-content [border]="true">
            <mzd-icon><strong>1991</strong></mzd-icon>
            <p>La Diputación de Granada le organiza una exposición en la sala del Palacio de los Condes de Gabia. Pronuncia en la Alhambra la conferencia Paseo por la luz de la Alhambra. Comienza la serie La puerta de agua, así como la serie Saetas, en las que plasma todo el dramatismo contenido de la cultura andaluza.</p>
            <div class="text-center">
                <img loading="lazy"  src="https://res.cloudinary.com/manuel-rivera-website/image/upload/v1627289813/obras%20MR/fotos/bio19_q3ommw.jpg" alt="bio19">
            </div>
        </mzd-timeline-content>

        <mzd-timeline-content [border]="true">
            <mzd-icon><strong>1992</strong></mzd-icon>
            <p>Participa en el pabellón andaluz de la Expo 92 de Sevilla. Recibe el homenaje de la Universidad de Granada en el ciclo El intelectual y su memoria.</p>
        </mzd-timeline-content>

        <mzd-timeline-content [border]="true">
            <mzd-icon><strong>1993</strong></mzd-icon>
            <p>Se presenta el libro, realizado conjuntamente con Rafael Alberti, Golfo de sombras. Interviene en el Curso de Verano de la Universidad Internacional de El Escorial. Entra a formar parte de la Galería Thessa Herold de París, participando en la exposición inaugural de la nueva galería a finales del año. Presenta una exposición personal en la Galería de Arte de la Caja de Ahorros de Córdoba. Es elegido miembro titular de la Academia de Ciencias, Artes y Letras de Europa. Durante esta época y dentro de una gran actividad experimental trabaja en la serie denominada Los estorzuelos, en cuadros transparentes sobre bastidor y con una clara referencia a las obras de su primera época, y en unas pinturas-collages sobre cartón llenas de color.</p>
            <div class="text-center">
                <img loading="lazy"  src="https://res.cloudinary.com/manuel-rivera-website/image/upload/v1627289813/obras%20MR/fotos/bio20_fv0xsc.jpg" alt="bio20">
            </div>
        </mzd-timeline-content>

        <mzd-timeline-content [border]="true">
            <mzd-icon><strong>1994</strong></mzd-icon>
            <p>Presenta una exposición personal en la sede de la Fundación Rodríguez-Acosta de Granada. Trabaja en la serie Oráculos, obras de pequeño formato en las que predomina el lirismo tonal, a la vez que continúa trabajando en la serie Saetas y en otras obras de mayor y mediano formato. En otoño viaja a Alemania para asistir a la inauguración que tiene lugar en el Museo Folkwang de Essen y en el Lindenau Museum de Altenburg de la exposición que presenta un importante conjunto de sus primeras obras, Metamorfosis-Espejos 1956-1966</p>
        </mzd-timeline-content>

        <mzd-timeline-content [border]="true">
            <mzd-icon><strong>1995</strong></mzd-icon>
            <p>Tras una vida plena, llena de logros y méritos, Manuel Rivera fallece rodeado del amor de los suyos.</p>
        </mzd-timeline-content>

      </mzd-timeline>

      
</div>